<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script> -->

    <title>Profile</title>
  </head>
  <body>
    <h1>Sayantan Dolui</h1>
    <h4>business analyst</h4>
    <hr />
    <h2>profile</h2>
    <div class="profile">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta,
        aspernatur? Quod ullam aperiam error reiciendis laboriosam saepe,
        nostrum distinctio eveniet reprehenderit quidem, consequuntur iste est
        harum assumenda fugit delectus vel placeat adipisci! Placeat unde libero
        fugit animi ullam, ratione nihil at dolores fugiat voluptatem
        consectetur mollitia dolorum praesentium quibusdam expedita esse.
        Corporis corrupti rerum officiis magni asperiores voluptatem totam autem
        quas praesentium! Laborum dolorum aspernatur quia at aliquid vel in
        repellat, distinctio dolores cum suscipit quis quidem dicta perferendis
        error vero culpa accusantium voluptas porro rerum delectus sit esse.
        Enim voluptatem voluptate facere provident quisquam iste architecto
        suscipit atque hic.
      </p>
    </div>
    <hr />
    <h2>work experience</h2>
    <div class="work">
      <div>
        <h4>business management</h4>
        &emsp;<time datetime="">2018-2020</time>
      </div>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Optio
        quibusdam asperiores at impedit sed aspernatur numquam sapiente id sunt
        ipsa!
      </p>
    </div>
    <hr>
    <h2>Skills</h2>
    <div>
      <ul>
        <li>python</li>
        <li>django</li>
        <li>numpy</li>
        <li>openCV</li>
      </ul>
    </div>
    <hr>
    <h2>academic</h2>
    <h4>Diploma in Mechanical Engineering &emsp; [2015-2018]</h4>
    <h4>B.Tech in Computer Science Engineering &emsp; [2018-2022]</h4>
  </body>
</html>
