<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MCQ Answer Searching</title>
</head>
<body>
    <h1>Answer Search</h1>
    <div class="searching">
        <h2>MCQ answer search</h2>
        <form action="post">
            <input type="number">
            <button type="submit">search</button>
        </form>
    </div>
    <div class="result">
        <h2>this is answer display  area . </h2>
    </div>
</body>
</html>